// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background: linear-gradient(90deg, rgba(131,58,180,1) 32%, rgba(11,161,33,1) 81%);
  color: white;
}

a {
  text-decoration: none;
  color: white;

}

.avatar {
  width: 200px;
  border-radius: 50%;
  border: 2px solid #fff;
  transition: 3s;
}
img, i {
  padding: 5px;
}


i, .fa-gem, .iconify {
  color: rgba(177, 177, 177, 0.686);
  transition: 0.5s;
}

img:hover, i:hover, .fa-gem:hover, .iconify:hover{
  transform: scale(1.1);
  transition: 0.5s;
}
.fa-linkedin {
  &:hover {
    color: #0072b1;
  }
}

.fa-instagram {
  &:hover{
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.fa-github {
&:hover{
  color: black;
}
}

.fa-at {
  &:hover{
    color: #000;
  }
}

.fa-gem {
  &:hover{
    color: #9b111e;
  }
}
.fa-python {
  &:hover{
    color: #00264D;
  }
}.fa-html5 {
  &:hover{
    color: #DD4B25;
  }
}
.fa-css3-alt {
  &:hover{
    color: #254BDD;
  }
}
.fa-js {
  &:hover{
    color: #EFD81D;
  }
}
.fa-react {
  &:hover{
    color: #5ED3F3;
  }
}

svg, i, img {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
}
.postgre {
  &:hover{
    color: #336791;
  }
}
.heroku {
  &:hover{
    color: #400090;
  }
}

.bootstrap {
  &:hover{
    color:#7510EC;
  }
}

.fa-whatsapp {
  &:hover{
    color:#25D366;
  }
}

#floated {
  float: left;
}

a.underline-text {
  margin-bottom: 0;
  text-decoration: none;
  display: inline-block;
  padding-bottom:1px;
  background-image: linear-gradient(#000, #000);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition:
    background-size 0.3s,
    background-position 0s 0.3s; /*change after the size immediately*/
  &:hover {
    text-decoration: none;
    background-position: 100% 100%; /*OR bottom right*/
    background-size: 100% 1px;
    color: #fff;
  }
}
